SERPAPI_KEY=your_api_key_here
GEMINI_API_KEY=your_api_key_here
GEMINI_DEFAULT_MODEL=your_default_gemini_model_here
GEMINI_DEFAULT_RPM=your_rpm_limit_here
DEFAULT_PROFILE_PATH=profile/latest.json
MONGODB_USER=your_mongodb_user_here
MONGODB_PASS=your_mongodb_pass_here
MONGODB_DBNAME=your_mongodb_dbname_jere
MONGODB_CONN=your_mongodb_conn_here